<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <title>tblswvs</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div class="nav">
  <ul>
    <li class="selected">Kick</li>
    <li>Snare</li>
    <li>HiHat</li>
    <li>Perc</li>
    <li>Opsix</li>
    <li>Hydra</li>
    <li id="docs">Docs</li>
  </ul>
</div>

<div id="main">
  <h1>tblswvs</h1>

  <div id="app">
    <div id="note-length" class="wrapper">
      <ul>
        <li>Note Length: <span class="notes"></span></li>
        <li>Fills Duration: <span class="fills"></span></li>
        <li id="fills">Fill Measures: <span class="fill-measures"></span></li>
        <li id="measure">
          Super Measure:
          <span class="parameter" id="super-measure">4</span>
          <span class="parameter" id="current-beat">0</span>
        </li>
      </ul>
    </div>
    <div id="sequencer-steps" class="wrapper">
      <div class="active wrapper step-0"><span></span></div>
      <div class="active wrapper step-1"><span></span></div>
      <div class="active wrapper step-2"><span></span></div>
      <div class="active wrapper step-3"><span></span></div>
      <div class="active wrapper step-4"><span></span></div>
      <div class="active wrapper step-5"><span></span></div>
      <div class="active wrapper step-6"><span></span></div>
      <div class="active wrapper step-7"><span></span></div>
      <div class="active wrapper step-8"><span></span></div>
      <div class="active wrapper step-9"><span></span></div>
      <div class="active wrapper step-10"><span></span></div>
      <div class="active wrapper step-11"><span></span></div>
      <div class="active wrapper step-12"><span></span></div>
      <div class="active wrapper step-13"><span></span></div>
      <div class="active wrapper step-14"><span></span></div>
      <div class="active wrapper step-15"><span></span></div>
    </div>
    <div id="sequencer-fills" class="wrapper">
      <div class="active wrapper step-0"><span></span></div>
      <div class="active wrapper step-1"><span></span></div>
      <div class="active wrapper step-2"><span></span></div>
      <div class="active wrapper step-3"><span></span></div>
      <div class="active wrapper step-4"><span></span></div>
      <div class="active wrapper step-5"><span></span></div>
      <div class="active wrapper step-6"><span></span></div>
      <div class="active wrapper step-7"><span></span></div>
      <div class="active wrapper step-8"><span></span></div>
      <div class="active wrapper step-9"><span></span></div>
      <div class="active wrapper step-10"><span></span></div>
      <div class="active wrapper step-11"><span></span></div>
      <div class="active wrapper step-12"><span></span></div>
      <div class="active wrapper step-13"><span></span></div>
      <div class="active wrapper step-14"><span></span></div>
      <div class="active wrapper step-15"><span></span></div>
    </div>
    <div id="track" class="wrapper">
      <div id="melodic-vector" class="wrapper">
        <div class="active vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="active vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="active vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="active vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="active vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="active vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="active vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="active vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
      </div>
      <div id="melodic-states" class="wrapper">
        <div id="melodic-vector-active">Melody Vector <span></span></div>
        <div id="randomizer-active">Randomizer <span></span></div>
      </div>
      <div id="clip" class="wrapper">
        <p id="current-clip">Current Clip: <span></span></p>
        <p id="create-clip">Create New: <span></span></p>
      </div>
      <div id="track-notes" class="wrapper">
        <p>Type: <span id="note-type"></span></p>
        <p>Input Notes: <br> <span id="input-notes"></span></p>
      </div>
      <div id="chains" class="wrapper">
        <ol>
          <!-- Will be filled in dynamically from the track config. -->
        </ol>
      </div>
    </div>
    <div id="global-params" class="wrapper">
      <div id="current-scale" class="wrapper">
        <p>Key: <span>C Minor</span></p>
      </div>
      <div id="melody" class="wrapper">
        <p>Queued Melody:<br><span></span></p>
      </div>
      <div id="chord-progression" class="wrapper">
        <p>Queued Progression:<br><span></span></p>
      </div>
      <div id="evolution" class="wrapper">
        <p id="mutating-tracks">Mutating Tracks: <span></span></p>
        <p id="mutations">Mutations: <span></span></p>
      </div>
    </div>
  </div>

  <div id="documentation">
    <h2>grid page documentation</h2>
    <ul id="page-list" class="wrapper">
      <li>Rhythm</li>
      <li>Probabilities</li>
      <li>Fills</li>
      <li>Chords</li>
      <li>Melody</li>
      <li>Mutation</li>
      <li>Melodic Vectors</li>
      <li>Global</li>
    </ul>
    <div class="wrapper" id="page-overview"></div>
    <div class="wrapper" id="grid"></div>
    <div class="wrapper" id="button-details"></div>
  </div>
</div>

<script src="./js/ui.js"></script>
</body>
</html>
