<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <title>tblswvs</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div class="nav">
  <ul>
    <li class="selected">Kick</li>
    <li>Snare</li>
    <li>HiHat</li>
    <li>Perc</li>
    <li>Opsix</li>
    <li>Hydra</li>
    <li id="docs">Docs</li>
  </ul>
</div>

<div id="main">
  <h1>tblswvs</h1>

  <div id="sequencer-steps" class="wrapper">
    <div class="active wrapper" id="step-0"><span></span></div>
    <div class="active wrapper" id="step-1"><span></span></div>
    <div class="active wrapper" id="step-2"><span></span></div>
    <div class="active wrapper" id="step-3"><span></span></div>
    <div class="active wrapper" id="step-4"><span></span></div>
    <div class="active wrapper" id="step-5"><span></span></div>
    <div class="active wrapper" id="step-6"><span></span></div>
    <div class="active wrapper" id="step-7"><span></span></div>
    <div class="active wrapper" id="step-8"><span></span></div>
    <div class="active wrapper" id="step-9"><span></span></div>
    <div class="active wrapper" id="step-10"><span></span></div>
    <div class="active wrapper" id="step-11"><span></span></div>
    <div class="active wrapper" id="step-12"><span></span></div>
    <div class="active wrapper" id="step-13"><span></span></div>
    <div class="active wrapper" id="step-14"><span></span></div>
    <div class="active wrapper" id="step-15"><span></span></div>
  </div>

  <div id="track" class="wrapper">
    <div id="create-clip" class="wrapper">
      <p>Create new clip <span></span></p>
    </div>
    <div id="track-notes" class="wrapper">
      <p></p>
    </div>
    <div id="note-length" class="wrapper">
      <p>Note Length: <span></span></p>
    </div>
  </div>

  <div id="global-params" class="wrapper">
    <div id="measure" class="wrapper">
      <p>
        <span class="label">Super Measure:</span>
        <span class="parameter" id="super-measure">4</span>
        <span class="parameter" id="current-beat">0</span>
      </p>
    </div>
    <div id="current-scale" class="wrapper">
      <p>Key: <span>C Minor</span></p>
    </div>
    <div id="melody" class="wrapper">
      <p>Queued Melody:<br><span></span></p>
    </div>
    <div id="chord-progression" class="wrapper">
      <p>Queued Progression:<br><span></span></p>
    </div>
    <div id="evolution" class="wrapper">
      <p id="mutating-tracks">Mutating Tracks: <span></span></p>
      <p id="mutations">Mutations: <span></span></p>
    </div>
  </div>
</div>

<div id="documentation">
  <h2>Documentation</h2>
  <ul id="page-list">
    <li>Rhythm</li>
    <li>Probabilities</li>
    <li>Chords</li>
    <li>Melody</li>
    <li>Mutation</li>
    <li>Global</li>
  </ul>

  <div class="wrapper" id="grid">
  </div>
</div>

<script src="./js/ui.js"></script>
</body>
</html>
