<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <title>tblswvs</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div class="nav">
  <div id="app-name" class="wrapper">
    <h1>tblswvs</h1>
  </div>
  <ul>
    <li class="selected">Kick</li>
    <li>Snare</li>
    <li>HiHat</li>
    <li>Perc</li>
    <li>Bass</li>
    <li>Keys</li>
    <li>Hydra</li>
    <li id="docs">Docs</li>
  </ul>
</div>

<div id="main">
  <div id="app">
    <div id="top-row" class="wrapper">
      <div id="track-rhythm-circle" class="wrapper">
        <canvas width="120" height="120"></canvas>
      </div>
      <div id="step-sequencer" class="wrapper">
        <div id="resources-path"></div>
        <div id="rhythm-params" class="wrapper">
          <div id="pulse" class="wrapper">Pulse: <span>16n</span></div>
          <div id="note-length" class="wrapper">Note Length: <span>16n</span></div>
          <div id="fills-duration" class="wrapper">Fills Duration: <span>8nd</span></div>
          <div id="fill-measures" class="wrapper">Fill Measures: <span>1 2 3 4 5 6 7 8</span></div>
          <div id="algorithm" class="wrapper">Algorithm: <span>electro/base_with_hats</span></div>
        </div>
        <div id="sequencer-fills" class="wrapper">
          <div class="active wrapper step-0"><span></span></div>
          <div class="active wrapper step-1"><span></span></div>
          <div class="active wrapper step-2"><span></span></div>
          <div class="active wrapper step-3"><span></span></div>
          <div class="active wrapper step-4"><span></span></div>
          <div class="active wrapper step-5"><span></span></div>
          <div class="active wrapper step-6"><span></span></div>
          <div class="active wrapper step-7"><span></span></div>
          <div class="active wrapper step-8"><span></span></div>
          <div class="active wrapper step-9"><span></span></div>
          <div class="active wrapper step-10"><span></span></div>
          <div class="active wrapper step-11"><span></span></div>
          <div class="active wrapper step-12"><span></span></div>
          <div class="active wrapper step-13"><span></span></div>
          <div class="active wrapper step-14"><span></span></div>
          <div class="active wrapper step-15"><span></span></div>
        </div>
        <div class="sequencer-steps" class="wrapper">
          <div class="active wrapper step-0"><span></span></div>
          <div class="active wrapper step-1"><span></span></div>
          <div class="active wrapper step-2"><span></span></div>
          <div class="active wrapper step-3"><span></span></div>
          <div class="active wrapper step-4"><span></span></div>
          <div class="active wrapper step-5"><span></span></div>
          <div class="active wrapper step-6"><span></span></div>
          <div class="active wrapper step-7"><span></span></div>
          <div class="active wrapper step-8"><span></span></div>
          <div class="active wrapper step-9"><span></span></div>
          <div class="active wrapper step-10"><span></span></div>
          <div class="active wrapper step-11"><span></span></div>
          <div class="active wrapper step-12"><span></span></div>
          <div class="active wrapper step-13"><span></span></div>
          <div class="active wrapper step-14"><span></span></div>
          <div class="active wrapper step-15"><span></span></div>
        </div>
        <div class="sequencer-steps" class="wrapper">
          <div class="active wrapper step-16"><span></span></div>
          <div class="active wrapper step-17"><span></span></div>
          <div class="active wrapper step-18"><span></span></div>
          <div class="active wrapper step-19"><span></span></div>
          <div class="active wrapper step-20"><span></span></div>
          <div class="active wrapper step-21"><span></span></div>
          <div class="active wrapper step-22"><span></span></div>
          <div class="active wrapper step-23"><span></span></div>
          <div class="active wrapper step-24"><span></span></div>
          <div class="active wrapper step-25"><span></span></div>
          <div class="active wrapper step-26"><span></span></div>
          <div class="active wrapper step-27"><span></span></div>
          <div class="active wrapper step-28"><span></span></div>
          <div class="active wrapper step-29"><span></span></div>
          <div class="active wrapper step-30"><span></span></div>
          <div class="active wrapper step-31"><span></span></div>
        </div>
        <div id="sequencer-fills" class="wrapper">
          <div class="active wrapper step-16"><span></span></div>
          <div class="active wrapper step-17"><span></span></div>
          <div class="active wrapper step-18"><span></span></div>
          <div class="active wrapper step-19"><span></span></div>
          <div class="active wrapper step-20"><span></span></div>
          <div class="active wrapper step-21"><span></span></div>
          <div class="active wrapper step-22"><span></span></div>
          <div class="active wrapper step-23"><span></span></div>
          <div class="active wrapper step-24"><span></span></div>
          <div class="active wrapper step-25"><span></span></div>
          <div class="active wrapper step-26"><span></span></div>
          <div class="active wrapper step-27"><span></span></div>
          <div class="active wrapper step-28"><span></span></div>
          <div class="active wrapper step-29"><span></span></div>
          <div class="active wrapper step-30"><span></span></div>
          <div class="active wrapper step-31"><span></span></div>
        </div>
      </div>
      <div id="full-rhythm-circle" class="wrapper">
        <canvas width="120" height="120"></canvas>
      </div>
      <div id="harmonic-rhythm-circle" class="wrapper">
        <canvas width="120" height="120"></canvas>
      </div>
    </div>
    <div id="track-notes" class="wrapper">
      <div id="track-input-notes" class="wrapper">
        <div id="input-notes-label">Input Notes:</div>
        <div id="input-notes">C3</div>
      </div>
      <div id="track-notes-type" class="wrapper">Type: <span id="note-type">simple</span></div>
    </div>
    <div id="piano-roll" class="wrapper">
      <canvas id="pianoroll" width="800" height="300"></canvas>
    </div>
    <div id="pianoroll-transport" class="wrapper"></div>
    <div id="timing-algorithms-melodic-states">
      <ul id="timing-algorithms">
        <li>Humanize</li>
        <li>HiHat Swing</li>
        <li>Drunk</li>
        <li>Ghost Notes</li>
      </ul>
      <ul id="melodic-states">
        <li id="current-clip" class="wrapper indicator">Current Clip:<span></span></li>
        <li id="create-clip" class="wrapper indicator">Create New:<span></span></li>
        <li id="melodic-vector-active" class="wrapper indicator">Melody Vector:<span></span></li>
      </ul>
    </div>
    <div id="ramp-sequence" class="wrapper">
      <canvas id="rampseq" width="1312" height="80"></canvas>
    </div>
    <div class="row wrapper">
      <div id="chains" class="wrapper">
        <ol>
          <!-- Will be filled in dynamically from the track config. -->
        </ol>
      </div>
      <div id="melodic-vector" class="wrapper">
        <div class="active vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="active vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="active vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="active vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="active vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="active vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="active vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="active vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
        <div class="vector-step wrapper"><span class="shift0"></span><span class="shift-value">0</span></div>
      </div>
    </div>
    <div id="global-params" class="wrapper">
      <div id="global-note-data" class="wrapper">
        <div id="current-scale" class="wrapper">
          <p>Key <span>C Minor</span></p>
        </div>
        <div id="current-beat" class="wrapper">
          <p>Beat <span>Manual</span></p>
        </div>
        <div id="queued-notes" class="wrapper">
          <p>Queued Notes<br><span></span></p>
        </div>
      </div>
      <div id="evolution" class="wrapper">
        <div id="randomizing-tracks" class="wrapper">
          <div class="evolution-label">Randomizing</div>
          <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ol>
        </div>
        <div id="mutating-tracks" class="wrapper">
          <div class="evolution-label">Mutating</div>
          <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ol>
        </div>
        <div id="soloing-tracks" class="wrapper">
          <div class="evolution-label">Soloing</div>
          <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ol>
        </div>
        <div id="mutations" class="wrapper">
          <ul>
            <li id="trps-2">trps-2</li>
            <li id="rev">rev</li>
            <li id="rot-3">rot-3</li>
            <li id="sort">sort</li>
            <li id="-sort">-sort</li>
            <li id="inv">inv</li>
            <li id="inv-rev">inv-rev</li>
            <li id="bitflip">bitflip</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="documentation">
    <h2>grid page documentation</h2>
    <ul id="page-list" class="wrapper">
      <li>Rhythm</li>
      <li>Probabilities</li>
      <li>Fills</li>
      <li>Input Notes</li>
      <li>Melodic Vectors</li>
      <li>Ramps</li>
      <li>Algorithms</li>
      <li>Shift Register Algorithm</li>
      <li>Infinity Series Algorithm</li>
      <li>Global</li>
      <li>Mutation</li>
    </ul>
    <div class="wrapper" id="page-overview"></div>
    <div class="wrapper" id="grid"></div>
    <div class="wrapper" id="button-details"></div>
  </div>
</div>

<script src="./js/ui.js"></script>
</body>
</html>
