body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  tab-size: 2;
  background-color: black;
  color: #aaa;
  margin: 0;
}


div.wrapper, ul.wrapper {
  position: relative;
  float: left;
}


div.nav {
  position: absolute;
  top: 0;
  width: 116px;
}


div.nav div#app-name {
  width: 100%;
}


div.nav div#app-name h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}


div.nav ul {
  margin: 3em 0 0 0;
  padding-left: 0;
  list-style: none;
  font-size: 1.35em;
}


div.nav ul li {
  padding: .5em .5em;
  border-bottom: 1px solid #555;
  text-align: right;
}


div.nav ul li:first-child {
  border-top: 1px solid #555;
}


div.nav ul li.selected {
  color: #117733;
}


div.nav ul li#docs {
  color: #fff;
  cursor: default;
}


div.nav ul li#docs.active {
  color: #f62;
}


div#main {
  position: absolute;
  top: 0;
  left: 116px;
  width: 1344px;
  height: 915px;
  border-left: 1px solid #555;
  margin-left: -1px;
  display: block;
  overflow: hidden;
}


div#top-row,
div.row {
  display: block;
  width: 1344px;
}


div#top-row div#track-rhythm-circle,
div#top-row div#full-rhythm-circle,
div#top-row div#harmonic-rhythm-circle {
  display: block;
  width: 144px;
  margin: 15px 0 4px;
  height: 120px;
}


div#top-row div#track-rhythm-circle {
  margin-left: 66px;
}


div#top-row div#track-rhythm-circle canvas,
div#top-row div#full-rhythm-circle canvas,
div#top-row div#harmonic-rhythm-circle canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


div#top-row div#step-sequencer,
div#top-row div#step-sequencer div.sequencer-steps,
div#top-row div#step-sequencer div#sequencer-fills,
div#top-row div#step-sequencer div#rhythm-params {
  display: block;
  width: 800px;
}


div#top-row div#step-sequencer {
  margin-top: 10px;
}


div#top-row div#step-sequencer div#rhythm-params {
  margin: 10px 0 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: .9em;
}


div#rhythm-params div#pulse { width: 80px; }
div#rhythm-params div#note-length { width: 123px; }
div#rhythm-params div#fills-duration { width: 127px; }
div#rhythm-params div#fill-measures { width: 235px; }
div#rhythm-params div#algorithm {
  width: 225px;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
}


div.indicator {
  width: 100%;
  display: block;
  text-align: right;
}


div#track-notes {
  width: 1312px;
  margin: -16px 16px 5px;
}


div#track-notes div#track-input-notes {
  width: 1062px;
}


div#track-notes div#track-input-notes div {
  display: block;
  position: relative;
  float: left;
}

div#track-notes div#track-input-notes div#input-notes-label {
  width: 100px;
}


div#track-notes div#track-input-notes div#input-notes {
  width: 962px;
  height: 20px;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  color: #117733;
  font-weight: bold;
  margin-top: 2px;
}


div#track-notes div#track-notes-type {
  width: 250px;
  text-align: right;
}


div#piano-roll {
  margin: auto 16px;
  width: 1312px;
  height: 300px;
  margin-bottom: 0px;
}


div#ramp-sequence {
  width: 1280px;
  height: 80px;
  margin: auto 16px auto 48px;
}


div#chains, div#melodic-vector {
  margin-top: 10px;
}

div#chains {
  width: 340px;
  margin: auto 0;
}


div#chains ol {
  margin: 1em 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #aaa;
}


div#chains ol li.on {
  color: #117733;
}


div#chains ol li {
  list-style: none;
  padding: 0;
  margin: 0 0 5px 0;
}


div#app, div#documentation {
  position: relative;
  float: left;
  display: block;
  margin: auto 10px;
  min-height: 1000px;
}


div#documentation {
  display: none;
}


h2 {
  margin-top: 0;
  padding-left: 10px;
  font-size: 1.25em;
}


div#current-scale,
div#current-beat {
  width: 640px;
}


div#global-params p {
  margin: 10px auto;
}


div#global-params {
  width: 1312px;
  padding: 16px;
  border-top: 1px solid #333;
}


div#global-params div#global-note-data {
  width: 1280px;
  margin-right: 16px;
}


div#chains-vector-evolution div#evolution {
  width: 384px;
}


div#chains-vector-evolution div#evolution div#randomizing-tracks,
div#chains-vector-evolution div#evolution div#mutating-tracks,
div#chains-vector-evolution div#evolution div#soloing-tracks {
  margin: 2px auto;
  width: 384px;
}


div#chains-vector-evolution div#evolution div.evolution-label {
  width: 130px;
  padding-right: 10px;
  float: left;
  text-align: right;
}


div#chains-vector-evolution div#evolution div#randomizing-tracks ol,
div#chains-vector-evolution div#evolution div#mutating-tracks ol,
div#chains-vector-evolution div#evolution div#soloing-tracks ol {
  /* display: block; */
  padding-left: 0;
  margin: 0;
  float: left;
  width: 244px;
}


div#chains-vector-evolution div#evolution div#mutations {
  width: 384px;
}


div#chains-vector-evolution div#evolution div#mutations ul {
  column-count: 4;
  width: 368px;
  margin: 0 8px 8px 8px;
  padding: 0;
  list-style: none;
}


div#chains-vector-evolution div#evolution div#mutations ul li {
  display: inline-block;
  margin: 8px 0 0 0;
  padding: 0 10px 0 0;
  width: 72px;
  color: #aaa;
  text-align: right;
  text-wrap: nowrap;
}


div#chains-vector-evolution div#evolution div#mutations ul li.on {
  color: #117733;
}


div#markovy {
  width: 344px;
  margin: auto 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: right;
  font-weight: bold;
}


div#markovy.on {
  color: #117733;
}


div#global-note-data div#queued-notes {
  width: 1280px;
  height: 100px;
  overflow: hidden;
}


/*
  The div inside of rhythm represents a sequencer step. States

  * active: step is >= the track's 16n beat length
    * When inactive: grayed out and transport does not loop thru the step
    * When active: highlighted, transport loops thru step
  * current: step corresponds to the transport's active 16n step
    * When current: transport hits step, lights up green
*/
div.sequencer-steps div {
  width: 40px;
  height: 40px;
  margin: 4px;
  background-color: #111;  /* dark gray: background color for inactive step */
  border: 1px solid #333;  /* medium gray: border color for active step */
}


div.sequencer-steps div.active {
  background-color: #333;  /* medium gray: background color for active step */
  border: 1px solid #555;  /* medium-light gray: border color for active step */
}


div.sequencer-steps div span {
  display: inline-block;
  width: 40px;
  position: absolute;
  opacity: 0.4;
  background-color: #ddd;  /* transparent white: on gate step probability */
  bottom: 0;
}


/*
  Due to default, *recommended* content security policies for Electron, cannot set attributes for
  inline styles via JS, so setting up classes for the heights corresponding to step probabilities.
*/
div.sequencer-steps div span.prob100 { height: 40px; }
div.sequencer-steps div span.prob087 { height: 35px; }
div.sequencer-steps div span.prob075 { height: 30px; }
div.sequencer-steps div span.prob062 { height: 25px; }
div.sequencer-steps div span.prob050 { height: 20px; }
div.sequencer-steps div span.prob037 { height: 15px; }
div.sequencer-steps div span.prob025 { height: 10px; }
div.sequencer-steps div span.prob000 { height: 0px; }


div#sequencer-fills div {
  width: 42px;
  height: 1em;
  margin: 0 4px;
}


div#sequencer-fills div span {
  display: inline-block;
  width: 40px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: #117733;
}


div#pianoroll-transport {
  margin: auto 16px 10px 48px;
  width: 1280px;
  height: 3px;
}


div#pianoroll-transport div.step {
  position: relative;
  float: left;
  width: 20px;
  height: 3px;
}


div#pianoroll-transport div.step.current {
  background-color: #117733;
}


div#timing-algorithms-melodic-states {
  position: relative;
  float: left;
  padding-left: 48px;
}


div#timing-algorithms-melodic-states ul {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}


div#timing-algorithms-melodic-states ul#timing-algorithms {
  width: 400px;
}


div#timing-algorithms-melodic-states ul#melodic-states {
  width: 880px;
}


div#timing-algorithms-melodic-states ul li {
  position: relative;
  display: inline-block;
  margin: 2px 16px 2px 0;
  font-size: .9em;
  font-family: 'Courier New', Courier, monospace;
}


div#timing-algorithms-melodic-states ul li.on {
  color: #117733;
  font-weight: bold;
}


div#rhythm-params span,
div#track-notes div span,
div#global-params p span {
  font-family: 'Courier New', Courier, monospace;
  color: #117733;
  font-weight: bold;
}


.indicator span,
#randomizing-tracks li,
#mutating-tracks li,
#soloing-tracks li {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 0 4px;
  border: 1px solid #555;
  background-color: #111;
}


.indicator span.on,
#randomizing-tracks li.on,
#mutating-tracks li.on,
#soloing-tracks li.on {
  background-color: #117733;
}


div#documentation ul#page-list {
  padding: 0;
  margin: 0 0 1em 0;
}


div#documentation ul#page-list li {
  list-style: none;
  position: relative;
  float: left;
  padding: 5px 10px;
  cursor: default;
}


div#documentation ul#page-list li.active {
  color: #f62;
}


div#documentation div#grid {
  width: 656px;
  margin: .75em auto;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 8px;
}


div#documentation div#grid div.row {
  position: relative;
  float: left;
  margin-bottom: 18px;
  width: 656px;
}


div#documentation div#grid div.row:last-child {
  margin-bottom: 0;
}


div#documentation div#grid div.row div.button {
  position: relative;
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


div#documentation div#grid div.row div.button.related-group {
  background-color: #333;
}


div#documentation div#grid div.row div.button.related-sub-group {
  background-color: #777;
}


div#documentation div#grid div.row div.button.on {
  background-color: #f62;
}


div#documentation div#grid div.row div.button:last-child {
  margin-right: 0;
}


div#documentation div#button-details {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
}


div#documentation div#page-overview {
  width: 100%;
  min-height: 50px;
}


ul#melodic-states li#melodic-vector-active,
ul#melodic-states li#current-clip,
ul#melodic-states li#create-clip {
  position: relative;
  display: inline;
  margin: 0 0 5px 10px;
  float: right;
  border: none;
  background-color: #000;
  text-align: right;
}


ul#melodic-states li#current-clip span {
  border: none;
  background-color: #000;
}


div#melodic-vector {
  height: 160px;
  width: 600px;
}


div#melodic-vector div {
  width: 40px;
  height: 142px;
  margin: 4px;
  background-color: #111;  /* dark gray: background color for inactive step */
  border: 1px solid #222;  /* medium gray: border color for active step */
}


div#melodic-vector .vector-step span:first-child {
  display: inline-block;
  position: absolute;
  z-index: 50;
  width: 40px;
  background-color: #333;  /* transparent white: on gate step probability */
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}


div#melodic-vector .vector-step span:last-child {
  position: absolute;
  z-index: 60;
  top: 50px;
  width: 40px;
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: #117733;
}


/* Drum tracks do not have melody vectors, so gray out the text. */
div#main.drum-track  div#melodic-vector .vector-step span.shift-value {
  color: #555;
}


div#melodic-vector div.active {
  border: 1px solid #444;
}


div#melodic-vector .vector-step span.shift0  { height: 0;    bottom: 70px; }
div#melodic-vector .vector-step span.shift1  { height: 10px; bottom: 70px; }
div#melodic-vector .vector-step span.shift2  { height: 20px; bottom: 70px; }
div#melodic-vector .vector-step span.shift3  { height: 30px; bottom: 70px; }
div#melodic-vector .vector-step span.shift4  { height: 40px; bottom: 70px; }
div#melodic-vector .vector-step span.shift5  { height: 50px; bottom: 70px; }
div#melodic-vector .vector-step span.shift6  { height: 60px; bottom: 70px; }
div#melodic-vector .vector-step span.shift7  { height: 70px; bottom: 70px; }
div#melodic-vector .vector-step span.shift-1 { height: 10px; top: 70px; }
div#melodic-vector .vector-step span.shift-2 { height: 20px; top: 70px; }
div#melodic-vector .vector-step span.shift-3 { height: 30px; top: 70px; }
div#melodic-vector .vector-step span.shift-4 { height: 40px; top: 70px; }
div#melodic-vector .vector-step span.shift-5 { height: 50px; top: 70px; }
div#melodic-vector .vector-step span.shift-6 { height: 60px; top: 70px; }
div#melodic-vector .vector-step span.shift-7 { height: 70px; top: 70px; }
